.navbar {
    height: 70px;
    border-bottom: 3px solid;
    border-color: rgb(51, 51, 102);
}

.navbar-brand {
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    font-weight: bold;
}

body {
    padding-top: 70px;
}

.link-header {
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    font-weight: bold;
    color: rgb(51, 51, 102);
    transition: 1s;
}

.link-header:hover {
    opacity: 0.6;
}

.sign-out {
    background-color: rgb(51, 51, 102);
    color: white;
}

.sign-out:hover {
    background-color: white;
    color: rgb(51, 51, 102);
}

.left-sidebar,
.right-sidebar,
.middle-content {
    padding: 20px;
}
.admin-avatar {
    height: 35px;
    width: 35px;
    margin-right: 50px;
    border: 3px solid;
    border-color: rgb(51, 51, 102);
    border-radius: 50%;
}

.admin-avatar img {
    max-width: 100%;
    height: auto;
}

.left-sidebar {
    background-color: rgb(51, 51, 102);
}

.left-sidebar a {
    color: white;
    font-size: large;
}

.left-sidebar-item {
    display: flex;
    flex-direction: row;
    justify-content: left;
    border: none;
    background-color: rgb(51, 51, 102);
    transition: 1.5;
}

.left-sidebar-item :hover {
    opacity: 0.5;
}

.left-sidebar-item div {
    height: fit-content;
    width: auto;
    text-align: center;
}

img {
    margin-top: 40%;
}

.middle-content {
    border-right: 3px solid;
    border-color: rgb(51, 51, 102);
}

.right-sidebar {
    background-color: lightseagreen;
}

.manage-title {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(51, 51, 102);
    font-weight: bold;
    font-size: large;
}

.manage-view {
    padding: 0px 3px;
    display: flex;
    justify-content: right;
}

.manage-view button {
    border: none;
    background-color: rgb(51, 51, 102);
    border-radius: 5px;
    color: white;
    padding: 3px 8px;
    margin-right: 6px;
    transition: 1s;
}

.manage-view button:hover {
    opacity: 0.8;
}

.manage-overview {
    height: 90%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.account-manage {
    width: 100%;
    height: 400px;
    margin-bottom: 40px;
}

.list-new-account {
    overflow: auto;
}

.account-manage-item {
    border: 1px solid;
    margin-right: 10px;
    margin-left: 10px;
    border: 3px solid;
    border-color: rgb(51, 51, 102);
    border-radius: 5px;
    margin-bottom: 5px;
    max-height: 100%;
}

.account {
    height: 35px;
}

.room-manage {
    margin-top: 40px;
    width: 100%;
    height: 250px;
    margin-bottom: 40px;
}

.room-manage-item {
    border: 3px solid;
    border-radius: 5px;
    border-color: rgb(51, 51, 102);
    margin-left: 10px;
    margin-right: 5px;
    margin-bottom: 5px;
    max-height: 85%;
}

.set-manage {
    width: 100%;
    height: 300px;
    margin-bottom: 80px;
    margin-top: 20px;
}

.set-manage-overview {
    margin-top: 10px;
    max-height: 100%;
    overflow: auto;
}

.set-manage-item {
    height: 80px;
    border: 3px solid;
    border-radius: 5px;
    border-color: rgb(51, 51, 102);
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

thead {
    background-color: rgb(51, 51, 102);
    color: white;
}

th,
td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tbody tr:hover {
    background-color: bisque;
}
