*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(142deg, #9861c2, #5cc0de);
    font-family: "Lato", sans-serif;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: 0;
}
.container {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    padding: 30px;
    max-width: 300px;
    text-align: center;
}
.top-custom {
    top: 1.4rem;
}

.wrong .fa-check {
    display: none;
}
.good .fa-times {
    display: none;
}
.valid-feedback,
.invalid-feedback {
    margin-left: calc(2em + 0.25rem + 1.5rem);
}