*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(142deg, #ffffff, #5cc0de);
    font-family: "Lato", sans-serif;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: 0;
}
.container {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    padding: 30px;
    max-width: 1000px;
    text-align: center;
}
.code-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
}

.code {
    caret-color: transparent;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    border: 1px solid #eee;
    font-size: 30px;
    font-family: "Lato", sans-serif;
    width: 75px;
    height: 80px;
    margin: 10px;
    text-align: center;
    font-weight: 300;
}

@media (max-width: 600px) {
    .code-container{
        flex-wrap: wrap;
    }
    .code {
        font-size: 24px;
        height: 50px;
        max-width: 50px;
        font-size: bold;
    }

}

.code::-webkit-outer-spin-button,
.code::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.code:valid {
    border-color: #458bb4;
    box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.25);
}

.btn-custom {
    min-width: 400px;
    white-space: nowrap;
    margin: 0px 0px 20px 0px;
    text-transform: uppercase;
    letter-spacing: 0.7;
}
